body{
    margin: 0;
}
html{
    background-color: #215688;
}
.container{
    background-color: #193855;
}
.container *::selection{
    background-color: rgb(255, 136, 0);
    color: #000;
}
nav{
    width: 100%;
}
ul{
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style-type: none;
}
i{
    font-size: 200%;
    color: #fff;
    transition: 0.3s;
}
a i:hover{
    color: rgb(255, 136, 0);
    transition: 0.3s;
}
.tooltip-text{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 6.5em;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    top: 2em;
    left: -3em;
    font-family:Arial, Helvetica, sans-serif;
}

.hover-text {
    position: relative;
    display: inline-block;
    text-align: center;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}
header{
    background-color: #215688;
    width: 100%;
    color: #fff;
    display: flex;
    border-bottom: rgb(255, 136, 0) 0.5rem solid;
    position: sticky;
    z-index: 1;
    top: 0;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #193855;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 70%;
    margin: auto;
    justify-content: center;
}
h1{
    text-align: center;
}
.main_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_intro p{
    padding: 3%;
    text-align: center;
}
.content_media{
    box-shadow: 0.6em 0.6em rgb(255, 136, 0);
    width: 80%;
    border-radius: 1em;
}
footer{
    display: flex;
    background-color: #215688;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    border-top: 0.5rem solid rgb(255, 136, 0);
    width: 94%;
    padding: 3%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.main_subpg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
article{
    display: flex;
    justify-content: center;
    background-color: #215688;
    flex-wrap: wrap;
    margin: 2%;
    border-radius: 2em;
    flex-basis: 25%;
    transition: 0.2s;
    cursor: text;
    user-select: none;
}
article:hover{
    box-shadow: 0.4em 0.4em rgb(255, 136, 0);
    transition: 0.2s;
}
article a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    flex-basis: 60%;
    margin-top: 1%;
}
article i{
    display: flex;
    align-items: center;
    margin-top: 2%;
    flex-basis: 37%;
    text-align: right;
    margin-right: 3%;
}
article p{
    margin-top: 1%;
    padding: 4%;
    padding-top: 0;
    text-align: center;
}
textarea{
    resize: none;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    background-color: #215688;
    color: #fff;
    border-radius: 0.4em;
    outline: none;
    border: none;
    border: 0.2em solid rgba(255, 136, 0, 0);
}
input{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #215688;
    color: #fff;
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 0.4em;
    border: 0.2em solid rgba(255, 136, 0, 0);
}
.main_con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 100%;
    color: rgb(255, 136, 0);
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 0.4em;
    margin-bottom: 3%;
}
h2{
    text-align: center;
}
input:focus, textarea:focus{
    border: 0.2em solid rgb(255, 136, 0);
    transition: 0.5s;
}
#submit{
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
#submit:hover{
    background-color: rgb(255, 136, 0);
    transition: 0.5s;
}
#con{
    scroll-margin-block-start: 5em;
}
input::placeholder, textarea::placeholder{
    color: #ffffffa0
}
table, th, td{
    border: solid rgb(255, 136, 0) 3px;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
th{
    border: #fff solid 3px;
    background-color: rgb(255, 136, 0);
    color: #fff;
}
tr{
    background-color: #215688;
}
table{
    margin: 2% 0 2% 0;
}
.container > main:nth-child(2) > table:nth-child(2){
    margin-top: 0;
}
.modes{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.modes li{
    padding: 1em;
    background-color: #215688;
    border-radius: 1em;
}
.svg{
    width: 2.2em;
    position: relative;
    top: 0.7em;
    z-index: 0;
}
.objects{
    flex-direction: row;
    flex-wrap: wrap;
}
.obj{
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 2em;
    padding: 0.5em;
    transition: 0.2s;
    border: solid 0.5em rgb(255, 136, 0);
    transition: 0.5s;
}
.obj:hover{
    background-color: #215688;
}
.obj p{
    text-align: center;
    margin-top: 0;
}
.obj h3{
    flex-basis: 70%;
    text-align: center;
}
.obj_icon{
    flex-basis: 5%;
    width: 2.5em;
}
.geo_nodes, .nodes_desc,.shader_edit{
    text-align: center;
}
.subdesc{
    display: none;
}
video{
    width: 70%;
    margin-bottom: 2%;
}

@media (max-width: 765px) {
    article{
        flex-basis: 100%;
    }
    input{
        font-size: 1rem;
    }
    textarea{
        font-size: 1rem;
    }
    form{
        width: 100%;
    }
    .obj{
        flex-basis: 100%;
    }
    .desc{
        width: 130%;
    }

}

@media (max-width: 525px) {
    .desc{
        display: none;
    }
    .expand{
        margin-top: 10%;
    }
    .subdesc{
        display: flex;
    }
}